/* generic clases */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
}

a {
    text-decoration: none;
}

i {
    font-size: 2rem;
}

h2 {
    margin-bottom: 15px;
    font-weight: bold;
}
body{
    background-color: black;
    color: white;
}

.center {
    text-align: center;
}


/* layout */

.container {
    width: 100%;
    box-sizing: border-box;

}


/* components */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;

}

.logo {
    height: 60px;
    width: 80px;
}

.nav-bar li {
    list-style: none;
    display: inline-block;
}

.nav-bar a {
    color: white;
    margin-left: 10px;
    font-size: 0.8rem;

}

.image-section {
    background-image: url(./keyboard-5017973_1280.jpg);
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

.card {
    text-align: center;
    background-color: white;
    color: black;
    height: 100%;
    padding: 1rem;

}

.text-section {
    padding: 80px;

}




/* elements */
.titles {
    text-align: center;
    padding: 15% 10%;
    font-size: 0.8rem;
}

.btn {
    text-align: center;
}

.space-bottom{
    padding-bottom: 1.5rem;
}

.btns {
    background-color: white;
    color: black;
    margin: 20px;
    border: 0;
    padding: 13px;
    border-radius: 20px;
    font-weight: bold;

}

.photo {
    width: 90%;
    height: 100%;
}
@media (min-width: 768px) { 
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        padding: 10px
    }

    .col-3 {
        width: 25%;
        padding: 5% 3%;
        box-sizing: border-box;
    }
    
    .col-5 {
        width: 41.66%;
    }
    
    .col-7 {
        width: 58.33%;
        padding-left: 5%;


    }

    .center{
        text-align: left;
    }

    .nav-bar a {

        margin-left: 50px;
        font-weight: bold;
        font-size: 1rem;
    }

    .titles {
        font-size: 1rem;
    }
 }
